#grid {
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    text-align: center;
    border: solid black;
}

h1{
    margin:0;
}
#header {
    grid-column-start:1;
    grid-column-end:6;
    grid-row-start:1;
    background-color: burlywood;
    border: solid black;
}

.navbutton {
    grid-row-start:2;
    background-color: lightcyan;
    border: solid black;
}

#dog {
    grid-column-start:1;
    grid-column-end: 4;
    border: solid black;
    width: 100%;
    height:100%;
}

#text {
    grid-column-start:4;
    grid-row-start:3;
    grid-column-end:6;
    grid-row-end:4;
    background-color: #e8e88e;
    border: solid black;
    margin:0;
    padding:0;
}

#footer {
    grid-row-start: 6;
    border: solid black;
}