.navbar {
    display: flex;
    background-color: #4d4d4d;
    align-items: center;
}

.searchbutton {
    background-color: #4d4d4d;
    border-color: #31e031;
    border-width: 2px;
    color: #31e031;
    padding: 0.5;
    border-radius: 3px;
    font-size: smaller;
    margin: 7px 1% 7px 1%;
    border: solid thin;
    height: 30px;
}

.searchbutton:hover {
    cursor: pointer;
}

.navbutton {
    margin: 0 7px;
    font-size: smaller;
}

#home {
    color:whitesmoke;
}

#link {
    color: #b9b9b9;
}

#disabled {
    color: #6e6e6e;
}

#dropdown {
    color: #969696;

}
#searchbox {
    margin-left: 47%;
    margin-right: 5px;
    width: 150px;
    border-radius: 2px;
    border:none;
    height: 30px;
    font-size: small;
}

.text {
    margin: 5px 0;
}
.heroFlexbox {
    width:60%;
    margin: 0 auto;
    background-color: #e8e8e8;
    padding: 5% 20%;
}

.learnMoreButton {
    width: max-content;
    background-color: #008fff;
    color: whitesmoke;
    border-radius: 3px;
    border: none;
    padding: 5px;
    margin: 5px 0;
}
.helloheader {
    padding: 0;
    margin: 0;
}

.lowerSection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.smallHeader {
    margin: 10 0;
}
.smallText {
    margin: 0;

}
.article1 {
    grid-column-start: 2;
    font-size: small;
}

.article2 {
    grid-column-start: 3;
    font-size: small;
}

.article3 {
    grid-column-start: 4;
    font-size: small;
}

.footer {
    grid-column-start: 2;
    margin: 5px 20%;
}

.hr {
    margin:5px 20%;
    color: gray;
}

.detailsButton {
    background-color: gray;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 7px;
    margin: 5% 0;
    font-size: smaller;
}
.searchbutton{
    align-self: flex-end;
}

hr {
    margin:0 190px;
}
