body {
    font-family: 'Roboto', sans-serif;
}

.mobileHeader {
    display: flex;
    flex-direction: column;
    background-image: url("images/pexels-photo-298842.webp");
    background-color: #869b88;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.headerTextDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15% 12% 10% 12%;
}
.firstHeaderText {
    color: #fffbf9;
    margin: 0;
    font-weight: 400;
    font-size: 15pt;
    letter-spacing: 3px;
}

.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHeaderText {
    color: #fffbf9;
    font-size: 33pt;
    margin: 1rem 0 1rem 0;
    font-weight: 300;
    line-height: 90%;
}

.readMoreButton {
    background-color: #ffde45;
    border: none;
    padding: 0.6rem 1rem;
    letter-spacing: 3px;
    width: fit-content;
    font-size: 2vw;
}

.firstImage {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5rem;

}

#firstImage {
    width: 85vw;
}

.secondText {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 84%;
    align-items: flex-end;
    justify-content: center;
}

h1 {
    font-size: 4.5vw;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 5vw;
    letter-spacing: 1px;
}
p {
    font-size: 2.2vw;
}

.designText {
    margin: 0.1rem;
}

#secondTextHeader {
    font-weight: 400;
    margin-top: 2rem;
}

#secondTextLikeYou {font-weight:400}

.middleDiv {
    display: flex;
    justify-content: space-between;
    margin: 2% 8%;
    flex-wrap: wrap;
}

.middleDiv div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin-top: 3vw;
}

.middleTextDivOne {
    display: flex;
    padding-top: 3%;
    text-align: right;
}

#readMoreButtonGrey {
    background-color: #969696;
    color: white;
}

#middleTextDivTwo {
    align-items: flex-start;
}
#middleImageDivOne {
    position: relative;
    left: 2rem;
    margin-left: 8%;
    height: 30vw;
}

#middleImageDivTwo {
    height: 30vw;
    position: relative;
    right: 8vw;

}

.infoSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 84%;
}

#interiorDesign {
    font-size: 3vw;
    font-weight: 300;
    margin: 15% 0 0 0;
}

#lighting {
    font-size: 4vw;
    font-weight: 300;
    margin-top: 0.8vw;
}

#ifYouKnow {
    font-weight: 100;
    font-size: 2vw;
}