body {
    font-size: 1.8vw;
}

div {
    display: flex;
    align-items: center;
}

nav {

}
.navbarDiv {
    display: flex;
    margin: 0;
    justify-content: space-between;
    border: solid red;
    background-color: #e8e88e;
}

.leftNavButton {
    justify-content: space-evenly;
}

.rightNavButton {
}

.navButton {
    justify-content: center;
}

.mainSectionDiv {
    display: flex;
    height: 30vw;
    overflow: auto;
    margin: 0;
    width: 100%;
    justify-content: center;
}

.card {
    background-color: #53bb83;
    width: 20vw;
    height: 20vw;
}

.card:nth-child(3) {
    background-color: #3b6b9f;
}

.rightCards {

}

.bigCard {
    background-color: rgba(255, 230, 52, 0.73);
    height: 400vw;
    width: 400vw;
    rotate: 75deg;
    position: relative;
    left: 800px;
    transform: skewY(120deg);
}