body {
    font-family: 'Ubuntu', sans-serif;
}


.topNavButtons {
    display:flex;
    justify-content: space-between;
    padding: 1rem 20%;
}
#pilotLogo {
    margin: 0;
}

#wideRange {
    font-size: 50pt;
    font-weight: normal;
    margin-bottom: 0;
}

#aviationProductsTitle {
    font-weight: lighter;
    font-size: 17pt;
    margin-top: 0;
}

h3 {
    margin: 0;
}

h2 {
    font-weight: lighter;
}

p {
    margin: 1rem;
}

.phone {
    display: none;
}
.navBar {
    background-color: #eaeaea;
    padding-bottom: 1rem;
}

.bottomNavButtons {
    display: flex;
    justify-content: center;
}

#pilotLogo {
    margin: 1rem;
}

.topNavButtons a {
    color: #969696;
    text-decoration: none;
}

.bottomNavButtons a {
    margin: 0 1rem;
    color: #969696;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLogo {
    font-size: x-large;
    margin: 2rem 0 0.5rem 0;
}

#dropdownMenu {
    width: 80%;
    height: 2.5rem;
    padding: 0 0.5rem;
    margin-bottom: 2rem;
}

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    background-image: url("images/pilot-images/slide1_image.jpg");
    background-size:cover;
    margin-bottom: 1rem;
    padding: 5rem 0;
}

.wideRange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shopNowButton {
    font-size: larger;
    background: none;
    border: solid white;
    color: white;
    padding: 0.5rem;
}

.banners {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 1rem;
}

.blackBanner {
    background-color: #4d4d4d;
    color: whitesmoke;
    padding: 1rem 4rem 1rem 0.5rem;
    width: 38%;
}

.productTitle {
    font-weight: bolder;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    padding: 3%;
    height: auto;
    }

.productText {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    width:75%
}
.image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 30%;
    background-size: auto;
    background-position: center;
    height: 18rem;
    max-width: 15rem;
}

#imageOne {
    background-image: url("images/pilot-images/akg_aviation_av100_anr_headset_01_270x335_crop_top.png");
}

#imageTwo {
    background-image: url("images/pilot-images/alpha_industries_men_s_cwu_pilot_x_flight_jacket_01_270x335_crop_top.png");
}

#imageThree {
    background-image: url("images/pilot-images/american_optical_original_pilot_eyewear_57mm_frame_1_270x335_crop_top.png");
}

#imageFour {
    background-image: url("images/pilot-images/aspen_avionics_evolution_01_270x335_crop_top.png");
}

#imageFive {
    background-image: url("images/pilot-images/");
}

.blueBanner {
    background-color: #3b6b9f;
    color: whitesmoke;
    padding: 1rem 4rem 1rem 0.5rem;
    width: 38%;
}

.productsT {
    display: none;
}

#hotDeals {
    background-color: red;
    color: #ffffff;
    font-size: 8pt;
    width: fit-content;
}

.image button{
    background-color: #008fff;
    color: whitesmoke;
    border: none;
    border-radius: 100%;
    padding: 1rem 0.5rem;
}

.discountButton {
    display: none;
}
article {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    flex-wrap: wrap;
}
.price {
    color: #415ebb;
    font-weight: bolder;
    font-size: larger;
}

.oldPrice {
    text-decoration: line-through;
}

.secondNav {
    display:none;
    padding: 5% 1%;
    justify-content: space-between;
    width: 90%;
}

.secondNav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0.6rem;
}

.footer {
    margin: 2% 5%;
}

hr {
    margin: 2% 5%;
}

.secondNavButtons {
    justify-self: flex-end;
    margin: 0;
}

.banners .div {
    align-items: center;
}

#lightBanner {
    background-color: #78c7c4;
    color: whitesmoke;
    padding: 2rem 4rem 2rem 0.5rem;
    display: none;
}
@media screen and (min-width: 1000px) {

    header {
        display: none;
    }
    .topNavButtons {
        justify-content: space-between;
        margin: 0;
        padding: 1rem 1rem;
    }
    .navBar {
        height: 2rem;
    }

    .deals {
        display: flex;
        justify-content: center;
        margin: 0 45%;
        background-color: red;
        color: whitesmoke;
        height: 1rem;

    }

    .secondNav {
        display:flex;
        justify-content: center;
        gap: 8%;
        width:100%;
        align-items: center;
        padding: 3rem 0;
    }

    .heroSection {
        height: 20rem;
    }

    .cartCurrency {
        justify-content: flex-end;
    }
    .topNavButtons .phone {
        display: inline;
    }

    #lightBanner {
        display: inline;
    }

    .banners {
        height: fit-content;
        padding: 0;
    }

    .banners div {
        width: 20%;
        position: relative;
        bottom: 10rem;
        margin-bottom: 0;
    }

    article {
        flex-direction: row;
        position: relative;
        bottom: 10rem;
        justify-content: space-evenly;
    }

    .product {
        flex-direction: column;
        text-align: center;
        width: 20%;
        justify-content: center;
    }

    h3 {
        margin: 0;
    }
    .productText {
        margin-top: 0.5rem;
    }

    article .discountButton {
        display: inline;
        background-color: #e30000;
    }

    .image {
        width: 100%;
        justify-content: space-between;
    }

    .productsT {
        display: flex;
        flex-direction: column;
        width: 2rem;
    }

    #hotDeals {
        font-size: smaller;
        color: whitesmoke;
        background-color: red;
        margin: 0;
        padding: 0;
    }
}

