body {
    background-image: url("../images/ronaldo-de-oliveira-qV3-yE6kovQ-unsplash.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position:15%;
    color: rgba(222, 222, 222, 0.93);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.underlined {
    text-decoration: underline 15%;
    text-decoration-color: rgba(91, 255, 142, 0.65);
}

.hamburgerButton {
    background: none;
    border: none;
    color: white;
    font-size: 4em;
    max-width: 3rem;
    margin-right: 0.3em;
    padding-top: 0.7rem;
}

.navBar {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
}

.exitBar {
    text-align: right;
    display: none;
}

.exitButton {
    background: none;
    color: rgba(228, 228, 228, 0.91);
    border: none;
}

.fullMobileNav {
    display: none;
    flex-direction: column;
    border: solid thin cornsilk;
    min-height: 90vw;
    background: none;
}

.aboutMeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mobileNavButton {
    color: white;
    text-decoration: none;
    margin: 3% 3% 1% 0;
    font-size: larger;
    font-weight: lighter;
    text-align: left;
    padding-left: 0;
    padding-bottom: 0;
}

.mainSection {
    display: flex;
    height: 85vh;
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconLinks {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    margin-top:5vh;
    gap: 1rem
}

.bold {
    font-weight: bolder;
}

.pageText {
    font-weight: 200;
    letter-spacing: 0.05rem;
    font-size: 0.7em;
    text-align: center;
    margin: 6vh 10vw;
}

@media screen and (min-width: 650px) {
    .pageText {
        font-size: 1em;
    }

}

.aboutMeHeader {
    margin: 1vh 10vw;
}

.strike {
    color: rgba(0, 0, 0, 0);
    text-decoration: overline 15% rgba(91, 255, 142, 0.65);
    margin: 1rem 4rem;
}

.largeCard {
    height: 40vh;
    object-fit: cover;
    width: 50vw;
    max-width: 450px;
    margin-top: 1rem;
    overflow: clip;
}

.projectsWheel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#homeHighlight {
    visibility: visible;
}

.aboutMeIconLinks {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    margin-top: 0;
    gap: 0.5rem;
}

.aboutMeIcons {
    background-color: rgba(128, 128, 128, 0.43);
    height: 2rem;
    width: 2rem;
    margin-top: 0;
    padding-top: max(0.3rem);
    border-radius: 50%;
    border: none;
    font-size: 12pt;
    color: white;
}



.aboutMeMobileCard {
    display: flex;
    align-items: center;
    width:92vw;
    height: 20vh;
    margin-inline: 3vw;
    margin-bottom: 6vh;

}

.mobileCardImage {
    height: 100%;
    max-width: 50vw;
}

.mobileCardText {
    font-size: 0.6em;
    font-weight: lighter;
    margin-inline: 2vw;
}

@media screen and (min-width: 600px){
    .mobileCardText{
        font-size: 0.8em;
    }
}

.aboutMeIcons:hover {
    rotate: 20deg;
    font-size: 18pt;
    background: none;
}

.projectsWheel button {
    background: none;
    color: #969696;
    overflow: visible;
    border: none;
    text-align: center;
    font-size: 3em;
    width: 4rem;
}


.projectsWheel button:hover {
    color: white;
    font-size: 3.5em;
}

/*.mobileNavButton:hover {*/
/*    text-decoration: underline 15% rgba(65, 224, 56, 0.27);*/
/*}*/

.mobileNavButton::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: rgba(91, 255, 142, 0.65);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.mobileNavButton:hover::after {
    width: 70%;
    left: 0;
}

h1 {
    font-weight: 900;
    letter-spacing: 0.3rem;
    font-size: 26pt;
    padding-left: 0;
    margin: 1vh;
}

h2 {
    margin: 1vh;
    letter-spacing: 0.1rem;
    font-weight: lighter;
    font-size: 12pt;
    padding-left: 0;
    text-align: center;
}

.desktopNavBar {
    display: none;
    justify-content: center;
    flex-grow: 0;
}

.socialsIcons {
    background-color: rgba(128, 128, 128, 0.43);
    height: clamp(1rem, 2rem, 3rem);
    width: clamp(1rem, 2rem, 3rem);
    padding: 0.2rem 0 0 0;
    border-radius: 50%;
    border: none;
    font-size: clamp(12pt, 12pt, 18pt);
    color: #c0c0c0;
}


.socialsIcons:hover {
    rotate: 20deg;
    font-size: 26pt;
    background: none;
}

.github:hover {
    /*background-color: #969696;
    color: black;*/
}

.linkedIn:hover {
    /*color: #415ebb;*/
}

.gMail:hover {
    /*color: #e02515;*/
}

.hamburgerButton:hover {
    font-size: 40pt;
}

.contactMainDiv {
    display: flex;
    width: 95vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.contactCard {
    background-color: rgba(68, 68, 68, 0.29);
    border-radius: 7%;
    display: flex;
    flex-grow: 1;
    padding: 5% 5% 3% 5%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2%;
    min-width: 100px;
    max-width: 10em;
    height: 4em;
}

.contactCard button {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.18rem 0.02rem 0 0;
}

input {
    background-color: rgba(128, 128, 128, 0.43);
    border-radius: 6%;
    border: none;
    width: 100%;
    margin: 0.3rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
}

input:focus {
    outline: none;
}

#messageForm {
    height: 100%;
    padding-bottom: 28vh;
}

input::placeholder {
    color: rgba(175, 175, 175, 0.43);
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.contactInfo h3 {
    margin: 0 0 0 5%;
    width: 100%;
    font-size: 1em;
    padding: 0;
}

.contactInfo h4 {
    font-size: 0.9em;
    margin: 7% 0 0 5%;
    padding: 0;
}

.contactInfo a {
    text-decoration: none;
    color: white;
}

#clickHere::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: rgba(91, 255, 142, 0.65);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

#clickHere:hover::after {
    width: 40%;
    left: 0;
}

.socialLinkIcons {
    display: flex;
    flex-shrink: 1;
    gap: 0.3rem;
    margin: 8% 0 3% 5%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    max-width: 40rem;
    height: 45vh;
    padding: 1rem;
    margin-top: 2vh;
    border-radius: 4%;
    background-color: rgba(68, 68, 68, 0.29);
}

.topForms {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}
@media screen and (min-width: 800px) {

    #switchOrder {
        flex-direction: row-reverse;
    }

    .mainSection {
        align-items: flex-start;
        margin-left: 10vw;
    }
    .desktopNavBar {
        display: flex;
        justify-content: flex-start ;
        width: 60vw;
        flex-grow: 0;
        padding: 0;
    }
    h1, h2 {
        margin-inline: 0;
    }
    .mobileCardText {
        font-size: 1em;
}
}