body {
    background-image: url("../images/MobileBackground.jpg");
    background-size: cover;
    background-repeat: repeat;
    color: rgba(222, 222, 222, 0.93);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
}

.homeNav {
    display: flex;
    margin-top: 2vh;
    width: 100%;
    max-height: 15vh;
    justify-content: flex-end;
    align-items: center;
}

.navBarIconLinks {
    display: flex;
    padding-bottom: 2px;
    align-items: center;
    flex-grow: 1;
}


.socialsIcons {
    background-color: rgba(128, 128, 128, 0.43);
    padding: 0.25vw 0 0 0;
    margin: 0 0.5vw;
    width: clamp(24px, 3.4vw, 36px);
    height: clamp(24px, 3.4vw, 36px);
    font-size: clamp(12pt, 1.8vw, 18pt);
    border-radius: 50%;
    border: none;
    color: rgba(222, 222, 222, 0.93);
}

.homeNavInnerDiv {
    display: flex;
    margin: 2vh;
    margin-inline: 3vw;
    flex-grow: 0;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.homeNavLinks {
    display: flex;
    align-items: center;
}

.homeNav a {
    margin-inline: 1em;
    height: 100%;
    font-size: clamp(9pt, 3vw, 24pt);
    text-decoration: none;
    font-weight: 300;
    color: rgba(222, 222, 222, 0.93);
}

.navbarLink::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: rgba(91, 255, 142, 0.65);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navbarLink:hover::after {
    width: 70%;
    left: 0;
}

hr {
    width: 80%;
    margin: 1em 3em;
    background-color: rgba(91, 255, 142, 0.65);
    height: 2px;
    border:0;
}

.iconLinks {
    display: flex;
    margin: 1vh 3vw;
}

.socialsIcons.home {
    height: clamp(20px, 8vw, 65px);
    width: clamp(20px,8vw, 65px);
    margin-right: 3vw;
    padding: 0.3rem 0 0 0.03rem;
    font-size: clamp(10pt, 5vw, 28pt);
}

.linkedIn {
    margin-left: 0;
}

.underlined {
    text-decoration: underline 15%;
    text-decoration-color: rgba(91, 255, 142, 0.65);
}

.navBar {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
}

.exitBar {
    text-align: right;
    display: none;
}

.exitButton {
    background: none;
    color: rgba(222, 222, 222, 0.93);
    border: none;
}

.desktopNavBar {
    display: flex;
    justify-content: flex-start ;
    width: 60vw;
    margin-left: 3vw;
    flex-grow: 0;
    padding: 0;
}

.fullMobileNav {
    display: none;
    flex-direction: column;
    border: solid thin rgba(222, 222, 222, 0.93);
    min-height: 90vw;
    background: none;
}

.aboutMeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mobileNavButton {
    color: rgba(222, 222, 222, 0.93);
    text-decoration: none;
    margin: 3vh 8% 3vh 0;
    font-size: clamp(8pt, 4vw, 22pt);
    font-weight: lighter;
    text-align: left;
    padding-left: 0;
    padding-bottom: 0;
}

.mainSection {
    display: flex;
    height: 85vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3vw;
    margin-top: 20vh;
}

.bold {
    font-weight: bolder;
}

.pageText {
    font-weight: 300;
    letter-spacing: 0.05rem;
    font-size: 0.7em;
    text-align: center;
    margin: 6vh 10vw;
    color: rgba(222, 222, 222, 0.93);
}

@media screen and (min-width: 650px) {
    .pageText {
        font-size: 1em;
    }

}

.aboutMeHeader {
    margin: 1vh 10vw 0 10vw;
}

.strike {
    color: rgba(0, 0, 0, 0);
    text-decoration: overline 15% rgba(91, 255, 142, 0.65);
    margin: 1vh 4rem;
}

.largeCard {
    height: clamp(150px, 40vw, 300px);
    object-fit: cover;
    width: clamp(150px, 40vw, 300px);
    margin-top: 1rem;
    border-radius: 7%;
    overflow: clip;
}

.projectsWheel {
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

#homeHighlight {
    visibility: visible;
}

.aboutMeIconLinks {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    margin-top: 0;
    gap: 0.5rem;
}

.aboutMeIcons {
    background-color: rgba(128, 128, 128, 0.43);
    height: 2rem;
    width: 2rem;
    margin-top: 0;
    padding-top: max(0.3rem);
    border-radius: 50%;
    border: none;
    font-size: 12pt;
    color: rgba(222, 222, 222, 0.93);
}



.aboutMeMobileCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width:clamp(75vw, 75vw, 90vw);
    height: clamp(100px, 18vh, 300px);
    margin: 0 3vw;

}

.mobileCardImage {
    max-height: 90%;
    width: clamp(15vw, 30vw, 25vw);
    object-fit: cover;
    border-radius: 5%;
}


.mobileCardText {
    font-size: clamp(7pt, 2vw, 16pt);
    width: clamp(60vw, 60vw, 65vw);
    font-weight: lighter;
    margin-inline: 5vw;
}

.aboutMeIcons:hover {
    rotate: -10deg;
    font-size: 18pt;
    background: none;
}

.projectsWheel button {
    background: none;
    color: #969696;
    overflow: visible;
    border: none;
    text-align: center;
    font-size: 3em;
    width: 4rem;
}


.projectsWheel button:hover {
    color: rgba(222, 222, 222, 0.93);
    font-size: 3.5em;
}

.mobileNavButton::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: rgba(91, 255, 142, 0.65);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.mobileNavButton:hover::after {
    width: 70%;
    left: 0;
}

h1 {
    font-weight: 200;
    letter-spacing: 0.3rem;
    font-size: clamp(10pt, 6vw, 34pt);
    padding-left: 0;
    margin: 0 0 1vh 3vw;
}

h2 {
    margin: 0 0 0 3vw;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: clamp(8pt, 2.5vw, 13pt);
    padding-left: 0;
}

.contactCard.contact:hover {
    rotate: 0deg;
}

.socialsIcons:hover {
    position: relative;
    bottom: 5px;
    color: #282525;
    background-color: rgba(222, 222, 222, 0.93);
}

.contactMainDiv {
    display: flex;
    width: 95vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.skillsHeader {
    display: flex;
    flex-direction: column;
}

#skillsH2 {
    margin-left: 1vw;
}

h5 {
    font-size: clamp(8pt, 8vw, 20pt);
    margin:0;
}

.languageIconContainer {
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    height: 100%;
}

#contactUnderline {
    margin:0.5em 2vw 0 2.5em;
    color: rgba(0, 0, 0, 0);
    text-decoration: overline 15% rgba(91, 255, 142, 0.65);
}

.contactCard.aboutMePage {
    display: flex;
    justify-content: space-evenly;
    width: clamp(100px, 70%, 250px);
    margin: 0 auto;
    padding: 5%;
    height: clamp(100px, 80%, 270px);
}

.contactCard {
    background-color: rgba(68, 68, 68, 0.29);
    border-radius: 7%;
    display: flex;
    padding: 5% 5% 3% 5%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2%;
    width: 140px;
    max-height: 3em;
}

.contactCard button {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.9rem;
    padding: 0.22rem 0.02rem 0 0;
}

input {
    background-color: rgba(128, 128, 128, 0.43);
    border-radius: 6%;
    border: none;
    width: 100%;
    margin: 0.3rem;
    font-size: 1.5rem;
    color: rgba(222, 222, 222, 0.93);
}


.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    max-width: 25rem;
    max-height: 15rem;
    padding: 1rem;
    margin-top: 2vh;
    border-radius: 1rem;
    background-color: rgba(68, 68, 68, 0.29);
}

@media screen and (min-width: 600px){
    .aboutMeSection.contactPage {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-inline: 3vw;
    }
    .contactMainDiv {
        margin-inline: 0;
    }

    .contactForm {
        margin-top: 0;
        max-width: 40vw;
        max-height: none;
        min-height: 100%;
    }
    #contactUnderline {
        height:1px;
        margin-bottom: 0;
    }
}

input:focus {
    outline: none;
}

#messageForm {
    height: 8rem;
}

input::placeholder {
    color: rgba(175, 175, 175, 0.43);
    font-size: 0.7em;
    text-align: center;
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.contactInfo h3 {
    margin: 0 0 0 5%;
    width: 100%;
    font-size: 0.8em;
    padding: 0;
}

#subjectForm {
    border-radius: 0.5em;
}

.contactInfo h4 {
    font-size: 0.7em;
    margin: 7% 0 0 5%;
    padding: 0;
}

.contactInfo a {
    text-decoration: none;
    color: rgba(222, 222, 222, 0.93);
}

#clickHere::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: rgba(91, 255, 142, 0.65);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

#clickHere:hover::after {
    width: 40%;
    left: 0;
}

.socialLinkIcons {
    display: flex;
    flex-shrink: 1;
    gap: 0.3rem;
    margin: 8% 0 3% 5%;
}

#nameForm, #subjectForm, #emailForm, #messageForm {
    border-radius: 1rem;
}


.topForms {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 1rem;
    flex-wrap: nowrap;
}

@media screen and (min-width: 600px){
    .aboutMeSection.aboutMePage {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .secondDivAboutCard {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .skillsHeader {
        margin: 5% 0;
    }

    .aboutMeMobileCard.aboutMePage {
        align-items: center;
        height: 100%;
        width: clamp(75px, 15vw, 125px);
    }
    .contactCard.aboutMePage {
        flex-direction: column;
        max-height: none;
        height:clamp(50px, 20vh, 250px);
        padding: 3%;
    }
    .languageIconContainer {
        flex-wrap: wrap;
        font-size: clamp(10pt, 3vw, 16pt);
        height: fit-content;
        justify-content: center;
    }
    .mobileCardImage {
        width: clamp(50px, 20vw, 150px);
    }

    h1.overlined.strike {
        margin-bottom: 0;
    }

    .aboutMeSection.projects {
        flex-direction: row;
    }

    .pageText {
        margin-left: 3%;
    }

    body.projects {
        background-image: url("../images/projects_backgroundpng.png");
        background-position: -50px;
    }

    body {
        background-image: url("../images/DesktopBackground.jpg");
        background-position: center;
    }
}